body{
    background-color: whitesmoke;
}

*{
    text-decoration: none;
}

.navbar{
    background: none; 
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: black;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: black; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}


img{
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: auto;
}

h1{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 160px;
}

.logo{
    font-size: 0px;
    margin-left: 825px;
}

.center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }

button{
	background-color: lightgray; 
    margin-left: 10px; 
    border-radius: 30px; 
    padding: 10px; 
    width: 350px;
}
button a{
	color: black; 
    font-weight: bold; 
    font-size: 15px;
}


