body{
    background-image: url(GT2Background.jpg);
}

*{
    text-decoration: none;
}

.navbar{
    background: none; 
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}


img{
    aspect-ratio: 3/.8;
    object-fit: contain;
    margin: auto;
}

h2{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 160px;
}

.logo{
    font-size: 0px;
    margin-left: 605px;
}