body{
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 300;            
  flex-direction: column;   
  text-align: center;
  background-image: url(TaycanBackground.jpg);
  color: grey;
}

*{
  text-decoration: none;
}

.navbar{
  background: none; 
  font-family: calibri; 
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.logo a{
  font-size: 35px;
  font-weight: 600;
  color: white;
}

li{
  list-style: none;
  display: inline-block;
  height: 70px;
}

li a{
  color: white; 
  font-size: 18px; 
  font-weight: bold; 
  margin-right: 25px;
}

img{
  aspect-ratio: 3/2;
  object-fit: contain;
  margin: auto;
}

.logo{
  font-size: 0px;
  margin-left: 563px;
}
  