/* Menyra e Par me perdor "margin"
p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}
*/

/* Menyra e Dyte me perdor "margin"
p{
    margin: 100px 280px 100px 150px;
}*/

/*Menyra e Trete me perdor "margin"
p{
    margin: 100px;
}*/

/*p{
    margin: 25px 30px 75px;
}*/

div{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
}

div{
    padding: 100px 280px 100px 150px;
}

